header{
    height: 100px;
    background-color: gray;
}
body{
    background-image: url(https://i.pinimg.com/originals/2a/88/e9/2a88e97d780e646b53c36b85af2ca1db.jpg);
}
nav{
    background-color: gray;
    border: solid black 2px;
    height: 100px;
}
main{
    height: auto;
}
.destaque{
    
    height: 200px;
}
.card{
    background-color: gray;
}
.artigo{
    background-color: rgb(117, 40, 34);
    height: 200px;
}
h1{
    color: silver;
}
img{
    width: 32%;
}
#destaque-img{
    width: 110%;
}
.ferrari{
    width: 100%;
}
.alinhar{
    height: auto;
}
aside{
    height: auto;
}
aside section{
    height: 100px;
    background-color: gray;
}
#saside{
    height: auto;
    margin-top: 24;
}
#bside{
    height: auto;
}
footer{
    height: auto;
    background-color: rgb(0, 0, 0);
}