header{
    height: 200px;
    background-color: rgb(200, 228, 159);
}
main{
    height: 500px;
    background-color: greenyellow
}
main section{
    height: 150px;
    background-color: mediumseagreen;
}
aside{
    background-color: rgb(96, 210, 96);
    height: 500px;
}
aside section{
    height: 30px;
    background-color: aquamarine;
}
footer{
    height: 200px;
    background-color: forestgreen;
}