:root{
    --cor-principal: gray;
    --cor-secundária: black;
    --cor-de-terciaira:rgb(71, 71, 71);
}
header{
    height: 100px;
    background-color: gray;
}
body{
   background-color: var(--cor-de-terciaira);
}
nav{
    background-color: var(--cor-principal);
    border: solid black 2px;
    height: 100px;
}
main{
    height: auto;
}
.destaque{
    
    height: 200px;
}
.card{
    background-color: var(--cor-principal);
}
.artigo{
    background-color: rgb(117, 40, 34);
    height: 200px;
}
h1{
    color: silver;
}
img{
    width: 32%;
}
#destaque-img{
    width: 110%;
}
.ferrari{
    width: 100%;
}
.alinhar{
    height: auto;
}
aside{
    height: auto;
}
aside section{
    height: 100px;
    background-color: var(--cor-principal);
}
aside .list-group-item{
    background-color: var(--cor-principal);
}
#saside{
    height: auto;
    margin-top: 24;
}
#bside{
    height: auto;
}
footer{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: var(--cor-secundária);
}